body
{
    font-family: Arial;
    background: #3498db ; 
    overflow-x: hidden;
    margin:0;
    padding:0;
}

.corps{
    background:url("wall2.jpeg") no-repeat fixed center center/ 100% auto; 
    height: calc(100%);
}

.case1
{
    background:rgba(30, 21, 56, 0.48) ;
    margin-top: 200px;
    height: 220px;
    text-align: center;
    vertical-align: center;
    color: black;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
    /*border-radius: 6%; */
    font-family: Arial;
}

.titre1
{
    background: black;
    height: 50px;
    padding-left: -15px;
    padding-right: -15px;
    text-align: center;
    color: white;
    font-size: x-large;
}

.bloc1
{
    height: 70px;
    border: 1px solid black;
    
    background: white;
    text-align: center;
}

.bloc2
{
    height: 30px;
    background: #34495e;
    border: 1px solid black;
    color: white;
    
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin-top: -22px;
    margin-left: -5px;
    font-size: large;
    border: 2px solid grey;
    height: 30px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
}

nav ul li:hover
{
    background: #2c3e50;
    color: darkcyan;
    transition: 0.2s;
}

.href
{
    text-decoration: none;
    color: white;
}

.bloc3
{
    height: 500px;
    background: white;
    border: 1px solid black;
}

.derniere_note
{
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

.connexion
{
    margin-left: 65px;
    margin-bottom: 20px;
}

.bouton_submit
{
    margin-left: 125px;
}

.role{
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.47);
    height: 40px;
    color: white;
}

.test{
    background: black;
}

.menu_admin{
   
    margin: auto;
    margin-top: 150px;
}

.back_admin{
    background: #3498db no-repeat fixed center center/ 100% auto; 
    height: calc(100%);
}

.back_admin2{
/*
    background: #3498db no-repeat fixed center center/ 100% auto; 
    height: calc(100%);
*/
    background:url("wall2.jpeg") no-repeat fixed center center/ 100% auto; 
    height: calc(100%);
    
}

.case2{
        background:#2980b9 ;
    height: 220px;
    text-align: center;
    vertical-align: center;
    color: black;
   
    font-family: Arial;
    margin-right: 10px;
    border: 8px solid rgba(37, 37, 214, 0.49);
    box-shadow: 1px 1px 12px black; 
    
}

.case2:hover{
   /* border: 10px solid rgba(37, 37, 214, 0.49);*/
    font-size: 100px;
    transition:0.3s;
}

.titre_admin{
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    color: azure;
    padding-top: 20px;
}

.titre_admin:hover{
    transition: 0.3s;
    font-size: 34px;
    }

.etoile{
    color: yellow;
    font-size: 60px;
    margin-bottom: 5px;  
}

.etoile:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}

.select_class{
    margin-left: 10px;
}

.row1{
    margin-top: 70px;
}

.onglet_eleve{
    background: #5bc0de;
    color: white;
    font-size: large;
    border: 1px solid #46b8da;
}

.onglet_eleve2{
    background: white;
    color: #5bc0de;
    font-size: large;
    border: 1px solid #46b8da;
}
.onglet_eleve4{
    background: white;
    color: #5bc0de;
    font-size: large;
    border-bottom: 3px solid #46b8da;
}

.onglet_eleve3{
    font-size: large;
    color: white;
}

.bouton1{
    margin-top: 10px;
    margin-left: -4px;
}

.semestre{
    margin-right: 10px;
}

.bouton2{
    margin-top: 100px;
    margin-left: 125px;
    font-size:100px;
}

.bouton3{
    margin-top: 12px;
    margin-left: -4px;
}

.bouton_titre{
    font-size:100px;
    margin-left: 195px;
}
p {
    font-size: 20px
}

p.small {
    font-size: 16px
}

a,
a.active,
a:active,
a:focus,
a:hover {
    color: #181918;
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em
}

.navbar-custom,
header .intro-text .name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #08505d;
    
}

hr.star-light {
    border-color: #fff
}

hr.star-light:after {
    background-color: #2980a0;
    color: #fff
}

hr.star-primary {
    border-color: #181918
}

hr.star-primary:after {
    background-color: #fff;
    color: #2C3E50
}
.brightness img{
        filter: brightness(90%);
        -webkit-filter: brightness(90%);
        -moz-filter: brightness(90%);
        -o-filter: brightness(90%);
        -ms-filter: brightness(90%);
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav li a,
header {
    color: #fff
}

.img-centered {
    margin: 0 auto
}

header {
    text-align: center;
  /* background: url(fond.jpg) no-repeat fixed center center / 100% auto;*/
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px
}

header img {
    display: block;
    margin: 0 auto 20px
}

header .intro-text .name {
    display: block;
    font-weight: 700;
    font-size: 2em
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    color:black;
}
.shadow{
    margin-top:5px;
    background-color:rgba(29, 26, 22, 0.85);
}
@media (min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px
    }
    header .intro-text .name {
        font-size: 4.75em
    }
    header .intro-text .skills {
        font-size: 1.75em
    }
}

.navbar-custom {
    background: #2C3E50;
    font-weight: 700;
    border: none
}

.navbar-custom a:focus {
    outline: 0
}

.navbar-custom .navbar-nav {
    letter-spacing: 1px
}

.navbar-custom .navbar-nav li a:hover {
    color: #33b1ff;
    outline: 0
}

.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a:focus {
    color: #fff
}

.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:active,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #2980a0
}

.navbar-custom .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    border-color: #fff
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover {
    background-color: #2980a0;
    color: #fff;
    border-color: #2980a0;
}

@media (min-width:768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-custom.affix {
        padding: 10px 0
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}

section {
    padding: 100px 0
}

section h2 {
    margin: 0;
    font-size: 3em
}

section.success {
    background: url(fond22.jpg) no-repeat fixed center center / 100% auto;
    color: #fff
}
.success{
    background: url(fond22.jpg) no-repeat fixed center center / 100% auto;
}
@media (max-width:767px) {
    section {
        padding: 75px 0
    }
    section.first {
        padding-top: 75px
    }
}
.fiche-pdt__img{
    margin: auto;
    display: block;
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 236px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(100, 109, 108, 0.58);
    position: absolute;
    width: 236px;
    height: 236px;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
.h1-carousel{
    color:black;
}
.btn-social,
.scroll-top,
.scroll-top .btn {
    width: 50px;
    height: 50px
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0
}

#portfolio * {
    z-index: 2
}

.clear{
    clear: both;
}
#contact{
    z-index: 2;
    background-color:rgba(74, 139, 159, 0.56);
    color:#fff;
}
#info-contact{
    background-color:#fff;
}
.contact{
    text-align: center;
    margin-top: 100px;
}
.contact-image-logo{
    width: 40%;
}
.boutton{
    text-align: center;
    margin-top: 50px;
}
.titre-copieur{
    text-align:center;
    margin-bottom:50px;
}
.fiche-pdt-caract .home-product-technical__icons{
    padding-top: 1.5em !important; 
}
.margin-top{
    margin-top:10px;
}
.topbar-contact{  
    margin-top:-25px;
    margin-bottom: 10px;
    padding: 12px 30px 1px;
    color: #dedede;
    background: #2c2c2c;
    text-align: right;
    font-weight: bold;
}
.topbar-contact i{
    color: #3c98c4;
}
/*home-product*/
.home-product__carousel{
    text-align: center;
}
.home-product-title{
    margin-top: 2.5em ;
    padding-top: 5em;
    text-align: center;
    background: url(img/icon-print-platinium.png) no-repeat top center;
}
.home-product-title__name{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 8px;
}
.home-product__carousel{
    text-align: center;
}
.home-product-container{
    margin: auto;
}
.home-product-picture{
    position: relative;
    top: 85px;
}
.home-product-container:hover .home-product-picture{
    animation: zoomover 1s forwards;
}

.home-product-info_container{
    background: #e6e9ed;
    padding: 7em 1em 3em 1em;
        display: table-cell;
    margin: auto;
}
.home-product-container:hover .home-product-info_container{
    /*background: #3fa2cb;
    color: #fff;*/
    box-shadow: 0 0 0 rgba(63, 162, 203, 0.6);
    animation: pulsehover 2s forwards;
    transition: all .2s ease-in;
}
.home-product-info{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
}
.home-product-info__brand{
    display: block;
    color: #3fa2cb;
}
.home-product-container:hover .home-product-info__brand{
 /*   color: #333;*/
}
.home-product-technical__desc{
    text-align: justify !important;
}
.home-product-technical__icons {
    padding-top: 1em;
    text-align: left;
}
.home-product-technical__icons i{
    padding-right: 10px;
    color: #3fa2cb;
    font-size: 1.3em;
}
.home-product-container:hover .home-product-technical__icons i{
    color: #333;
}
.home-product__btn{
    position: relative;
    bottom: 1em;
    padding: 6px 60px;
    font-size: .9em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: #3c98c4;
    border: .5px inset #bebebe;
    transition: all .2s ease-in;
}
.home-product-container:hover .home-product__btn{
    /*background: #f3f3f3;*/
    color: #ffffff;
}
.the3d-img__container{
    background: #fff url(img/pattern/3d-pattern.png) no-repeat center / cover;
}
.carousel-home-3d{
        margin: 5em 1em;
}
.carousel-3d-control .fa-caret-left, .carousel-3d-control .fa-caret-right{
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-3d-control .fa-caret-left{
    left: 1em;
} 
.carousel-3d-control .fa-caret-right{
    right: 1em;
}
.carousel-couleur{
    background-color:#277fa3;
}
.carousel-margin-texte{
    margin-top: 50px;
}
.home-3d-item{
    padding: 1em;
}
.home-3d-img{
    margin: auto;
}
.home-3d-desc{
    text-align: justify;
}
div.home-3d-caption{
    color: #333;
    text-shadow: none;
}
.home-3d-title__name{
    text-align: left;
    margin-bottom: 1em;
}
.carousel-home-3d__indicators{
    bottom: -3em !important;
}
@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #18BC9C
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}

footer {
    color: #fff
}

footer h3 {
    margin-bottom: 30px
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50
}

footer .footer-col {
    margin-bottom: 50px
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140
}
.ahref-footer{
    color:#fff;
}
.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 15px
}

.btn-outline.active,
.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    color: #18BC9C;
    background: #fff;
    border: 2px solid #fff
}

.btn-primary.active,
.btn-primary:active,
.btn-success.active,
.btn-success:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-success {
    background-image: none
}

.btn-primary {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1a242f;
    border-color: #161f29
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #2C3E50;
    border-color: #2C3E50
}

.btn-primary .badge {
    color: #2C3E50;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700
}

.btn-success.active,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #128f76;
    border-color: #11866f
}

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: #18BC9C;
    border-color: #18BC9C
}

.btn-success .badge {
    color: #18BC9C;
    background-color: #fff
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px
}


.btn.active,
.btn:active,
.btn:focus {
    outline: 0
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 1049
}

.scroll-top .btn {
    font-size: 20px;
    border-radius: 100%;
    line-height: 28px
}

.scroll-top .btn:focus {
    outline: 0
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}
.text-center{
    text-align: center;
}
.imgprofil{
    border-radius: 50%;
    width: 250px;
}
.lolo{
    text-align: right;
    margin-right: 840px;
    font-size: 20px;
}
